/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1,h2,h3,h4 {
  font-weight: bold;
  color: pink;
}

h1{
  margin-bottom: 40px;
}

h4{
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

ii-event-input input{
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 550px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

.submitter {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgreen;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

.submitter :hover {
  background-color: yellow;
}

.submitter :active {
  box-shadow: none;
}




li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

.title-row {
  margin-top: 30px;
}

/* ----------- Editor Styles ------------ */
#content-container {
  margin: 25px auto;
  width: 400px;
}
#editor-container {
  height: 250px;
}

#full-description-container{
  margin-bottom: 30px;
}

#mailer-container {
  height: 250px;
}
#summary-to-mail{
  margin-bottom: 30px;
}

/* ------------------------------------- */

#add-venue{
  margin-top: 30px;
  margin-bottom: 30px;

}

.main-submit-button{
  margin-top: 30px;
}

#import-event-options{
  margin-top: 40px;
}

.warn-users{
  color: pink;
}
